*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;

}
.header{
    height: 100vh;
    width: 100%;
    background-image: url('/images/donation5.jpg'), linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9));
    background-blend-mode: overlay;
}
.header-content{
    justify-content: center;
    text-align: center;
    padding-top: 110px;
    color: whitesmoke;
}
.header-title{
    font-weight: 800;
    font-size: 60px;
}
.header-description{
    margin: 20px 250px;
}
.header-btn{
    width: 100px;
    height: 35px;
    border-radius: 5px;
    border: none;
    background-color: rgb(231, 81, 81);
    font-weight: 700;
    color: whitesmoke;
}
/* donate section */
.donate-section{
    text-align: center;
    margin: 80px 0 80px 0;
}
.donate-title{
    font-weight: 900;
    font-size: 40px;

}
.donate-description{
    margin: 20px 250px;
    color: #757575;
}
.donate-btn{
    width: 120px;
    height: 80px;
    font-weight: 800;
    font-size: 30px;
    color: #696969;
    border-radius: 5px;
    border: none;
}
.donate-btn-secondary{
    width: 120px;
    height: 80px;
    font-weight: 900;
    font-size: 30px;
    color: rgb(231, 81, 81);
    background-color: #ffe1e1;
    border-radius: 5px;
    border: 2px solid #ff9696;
}
.donate-input-container{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.donate-input{
    width: 600px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;
    font-weight: 500;
    border-bottom: 2px solid #aeaeae;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-bottom: 20px;
}
/* our donate plan section */
.our-donate-plan-section{
    text-align: center;
}
.donate-plan-container{
    display: flex;
    gap: 20px;
    margin: 20px 200px 20px 200px;
}
.donate-plan{
    text-align: left;
    border-radius: 5px;
    padding: 50px 0 50px 20px;
}
.donate-plan .donate-heading{
    margin: 20px 0 20px 0;
}
.col-1{
    background-color: rgb(225, 255, 245);
}
.col-2{
    background-color: #ffe6e6;
}
.col-3{
    background-color: rgb(255, 244, 228);
}
.donate-plan-description{
    color: #aeaeae;
}
/* show case */
.showcase-section{
    margin: 50px 150px 50px 150px;
}
.showcase-container{
    display: flex;
    
}
.showcase-content{
    padding-top: 90px;
}
.showcase-img{
    width: 350px;
    height: 450px;
    object-fit:none;
    filter: grayscale(100%) sepia(80%) saturate(2) brightness(70%);
    /* border-radius: 30px; */
}
.showcase-description{
    margin: 10px 50px 20px 0;
    color: #757575;
}
.showcase-btn{
    width: 150px;
    height: 35px;
    border-radius: 5px;
    border: none;
    background-color: rgb(231, 81, 81);
    font-weight: 700;
    color: whitesmoke;
}
.ext-margin{
    margin-left: 150px;
}